.item{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title h6{
    font-size: 12px;
    font-weight: 600;
    color: #8898AA;
}

.part_value h6{
    font-size: 18px;
    font-weight: 600;
    color: #32325D;
}

.time_remainder h6{
    font-size: 12.5px;
    font-weight: 300;
    color: #8898AA;
}

.part_value{
    margin-bottom: 25px;
}

