.list_container{
    display: flex;
    flex-direction: column;
  
    width: 100%;
    padding: 35px;
}
.list_container_inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 7px 0px;
}