
    .Nos_chiffres{
        padding-top: 25px;
        flex : auto;
        margin-left: 50px;
        
    }

    .item button{
        font-weight: bold;
        font-size: 20px;
        border: none;
        background-color: white;
        color: #039af5;
        transition-duration: 2s;
        
    }

    .item1 button{
        font-weight: bold; 
        font-size: 20px;
        border: none;
        color: #000;
        background-color: white; 
    }

    .item1,.item{
        margin:15px 0px;
    }
    .open p {
        margin-left: 20px;
    }
  
    .tbl{
        width: 96%;
        margin-right: 35px;
    }