
.container_smal1{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    width: 100%;
    padding: 0px 35px;
  
}
    

.container_btn{
    width: 400px;
    border-radius: 50px;
    background-color:#039af5; 
    
}
.container_item{
    display: flex;
    flex-direction: column;
 
}
.container_image2 img{
    width: 500px;
    height: auto;
   
}
   