.container_TopBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    font-size: .9375rem;
    font-weight: 200;
    margin-bottom: 25px;
}

.container_TopBar .avatar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatar h4{
    margin-left: 5px;
}



.container_TopBar h4{
     font-weight: 750;
     color: #FFFFFF;
}